*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
justify-content: space-around;
    padding: 3 !important;
}
.logo{
    width: 120px;
}

.hero {
   height: 100vh !important;
}

.img {
    width: 100%;
    max-width: 200px;
}
.c{
    width: 30% !important;
padding: 20px !important;
}
.c button{
    padding: 5px;
    width: 40% !important; 
}
.border {
    width: 80%;
    margin: 0 auto;
  }
.bg-coler{
    background-color: rgb(237 235 228);
}
.coler-word{
   color: rgb(121, 121, 121) !important;
}
.style{
    max-width: 90%;
    height: auto;
    padding: 0;
}
.cirle{
    width: 40px;
    height: 40px;
    border: 1px solid rgb(102, 101, 101);
 }
 .but
 {
 
        width: auto;
        height: auto;

    border: 1px solid brown;
    color: brown;
 }
 .font{
    font-size: 70px; 
 }
 .font1{

    margin-right: 300px;
 }
 .font2{

    margin-left: 300px;
 }
 .mar{
   
    margin-right: 100px;
    margin-bottom: 8rem;
 }
.liner::after{
        content: " ";
        display:block;
        width: 300px;
        height: 1px;
        background-color:  rgba(83, 81, 81, 0.158);
        margin-left: 20px;
}
.liner::before{
    content: " ";
    display:block;
    width: 400px;
    height: 1px;
    background-color:  rgba(83, 81, 81, 0.158);
    margin-right: 20px;
}




.subscription-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #000;
    margin-top: 8px;
}


    .p{
        height: 350px;
    }
    .bor{
        width: 40% !important;
        border-bottom:1px solid rgba(95, 94, 94, 0.651) ;
    }
@media(max-width: 920px) {

    .c {
        width: 100% !important;
    }
    .img {margin-top: 50% !important;
        width: 88% !important;}
        .liner::after{
            content: " ";
            width:0;
        }
        .liner::before{
            content: " ";
            width:0;
        }
        .font1{

            margin-right:0px;
         }
         .font2{

            margin-left:0px;
         }
    
    }
    @media(max-width:767px){
        .bor{
            width: 100% !important;
      
        }
    }



